@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3.5rem;
}
.auth-alert {
  display: none;
}
.card {
  background-color: #ffffff;
  max-width: 400px;
  height: 140px;
  border-radius: 20px;
}
.card button {
  background-color: #bae6ff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.card span {
  color: #01be14;
  font-size: 2.5rem;
}
input {
  width: auto;
  height: 60px;
  background-color: #bae6ff;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  margin-right: 15px;
}

#input-feild {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
}

#input-feild button {
  color: #ffffff;
  background-color: #21adfb;
  border: none;
  border-radius: 10px;
  width: 145px;
  height: 60px;
  text-align: center;
  font-weight: bold;
}
#input-feild button:active {
  box-shadow: 0 2px rgb(204, 204, 204);
  transform: translateY(1px);
}

.input-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 118px;
  border-radius: 20px;
  padding: 20px;
}

@media (max-width: 1200px) {
  #input-feild {
    gap: 30px;
  }
}
