@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 3.5rem;
}
.card {
  background-color: #ffffff;
  max-width: 400px;
  height: 140px;
  border-radius: 20px;
}
.card button {
  background-color: #bae6ff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.card span {
  color: #01be14;
  font-size: 2.5rem;
}
input {
  width: auto;
  height: 66px;
  background-color: #bae6ff;
  border: none;
  border-radius: 10px;
}

.card-input {
  background-color: #ffffff;
  max-width: 570px;
  border-radius: 20px;
}

.card-input button {
  background-color: #21adfb;
  border: none;
  border-radius: 10px;
  width: 145px;
  height: 66px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
/* .card-input button:hover {
  background-color: #018bd6;
} */

.card-input button:active {
  box-shadow: 0 2px rgb(204, 204, 204);
  transform: translateY(1px);
}
